body {
    font-family: "Anta", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    margin: 0;
    background-color: #62635e;
    background-image: url("/glyph-background.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
}
// Remove arrows from cell inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
