// Font imports
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

$cellSize: 3rem;
$blue: #588ccf;
$green: #49ff52;

.main {
    display: flex;
    min-height: 100dvh;
    overflow: hidden;
    align-items: center;
}

// Use Force Styling
.forceContainer {
    position: relative;
    text-align: center;
}

.forceTitle {
    pointer-events: none;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42pt;
    color: sandybrown;
    text-shadow: 0px 0px 20px black;
}

.forceButton {
    cursor: pointer;
    margin: auto;
    width: 100%;
    height: auto;
    transition: all 0.33s ease-in-out;
    filter: drop-shadow(5px 20px 20px $blue);
    &:hover {
        filter: drop-shadow(5px 20px 50px #7777f3);
    }
}

// Layout Styling
.column {
    height: 100%;
    position: relative;
    width: 33.333%;
    flex-grow: 1;
}

// Button Styling
.buttonContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.buttonInnerContainer {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boardButton {
    font-family: "Anta", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30pt;
    cursor: pointer;
    margin: auto;
    width: 50%;
    height: 5rem;
    border: solid 5px rgba($color: #000000, $alpha: 0.75);
    background-color: green;
    background-image: url("/stone.jpg");
    border-radius: 0.5rem;
    color: black;
    transition: all 0.33s ease-in-out;
    &:hover {
        border: solid 5px rgba($color: #ffffff, $alpha: 0.75);
    }
}

// Board Styling
.boardContainer {
    width: fit-content;
    margin: auto;
    background-color: rgba($color: $blue, $alpha: 0.16);
    padding: 1.5rem;
    border-radius: 3rem;
    box-shadow: 0 0 50px 15px rgba($color: $blue, $alpha: 0.25);
    animation: pulse 1s ease-in-out alternate-reverse infinite;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 50px 15px rgba($color: $blue, $alpha: 0.25);
        background-color: rgba($color: $blue, $alpha: 0.16);
    }
    to {
        box-shadow: 0 0 60px 50px rgba($color: $blue, $alpha: 0.5);
        background-color: rgba($color: $blue, $alpha: 0.5);
    }
}

.puzzleRow {
    display: flex;
    &:nth-child(3) {
        border-bottom: solid 5px rgba($color: #ffffff, $alpha: 0.5);
    }
    &:nth-child(6) {
        border-bottom: solid 5px rgba($color: #ffffff, $alpha: 0.5);
    }
}

.boardGrid {
    &:nth-child(3) {
        border-right: solid 5px rgba($color: #ffffff, $alpha: 0.5);
    }
    &:nth-child(6) {
        border-right: solid 5px rgba($color: #ffffff, $alpha: 0.5);
    }
}

.puzzleCol {
    background-color: black;
    opacity: 95%;
    color: white;
    border: none;
    height: $cellSize;
    width: $cellSize;
    text-align: center;
    box-shadow: none;
    border-radius: 1rem;
    margin: 0.2rem;
    font-size: calc($cellSize / 2);
    line-height: 1px;
    padding: 0;
}

.prefilled {
    color: $blue;
    font-family: "Anta", sans-serif;
    font-weight: bold;
    font-style: normal;
    &:focus-visible {
        outline: none;
    }
    &:hover {
        cursor: default;
    }
}

// Info Styling
.infoContainer {
    border: solid 3px black;
    background-color: rgba($color: $blue, $alpha: 0.16);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    width: 50%;
    margin: auto;
    color: white;
    padding: 3rem;
}

.errorText {
    position: absolute;
    text-align: center;
    top: -10%;
    font-size: 24pt;
    width: 100%;
    color: white;
    z-index: 10;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
